{% extends 'base.html.twig' %}

{% block title %}LignedeCommande index{% endblock %}

{% block body %}
    <h1>LignedeCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lignede_commande in lignede_commandes %}
            <tr>
                <td>{{ lignede_commande.id }}</td>
                <td>{{ lignede_commande.quantité }}</td>
                <td>
                    <a href="{{ path('app_lignede_commande_show', {'id': lignede_commande.id}) }}">show</a>
                    <a href="{{ path('app_lignede_commande_edit', {'id': lignede_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lignede_commande_new') }}">Create new</a>
{% endblock %}
